<div id="container"></div>

<script>
	var timer;
	$(document).ready(function() {
		var chart;
		
		var object = {
			credits: {enabled: false},
			title: {
				text: 'Live random data'
			},
			xAxis: {
				type: 'datetime',
				tickPixelInterval: 150
			},
			yAxis: {
				title: {
					text: 'Value'
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				formatter: function() {
						return '<b>'+ this.series.name +'</b><br/>'+
						Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
						Highcharts.numberFormat(this.y, 2);
				}
			},
			legend: {
				enabled: false
			},
			exporting: {
				enabled: false
			},
			chart: {
				renderTo: 'container',
				type: 'spline',
				marginRight: 10,
				events: {
					load: function() {
	
						// set up the updating of the chart each second
						var series = this.series[0];
						timer = setInterval(function() {
							$.getJSON("../mockup/device.php", {time: (new Date()).getTime()}, function(data){
								series.addPoint([data["x"], data["y"]], true, true);
							});
						}, 1000);
					}
				}
			}
		}
		
		bindJSON(object, "../mockup/device.php", {rnd: (new Date()).getTime()}, function(data){
			chart = new Highcharts.Chart(data);
		});
	});
	
	function closeView() {
		clearInterval(timer);
	}
</script>