<div id="container">
	<div id="user_chart"></div>
	<div id="user_table"><table id="myTable" class="table table-bordered"></table></div>
</div>

<script>
$(document).ready(function() {
	addScriptFiles([
		{"name": "jquery.tablesorter", "path": "../assets/jquery/tablesorter/jquery.tablesorter.js"}
	], function(){
		var chart;
		
		object = {
			credits: {enabled: false},
			chart: {
				renderTo: 'user_chart',
				type: 'line',
				marginRight: 130,
				marginBottom: 25
			},
			title: {
				text: 'Monthly Average Temperature'
			},
			subtitle: {
				text: 'Source: WorldClimate.com'
			},
			yAxis: {
				title: {
					text: 'Temperature (°C)'
				}
			},
			tooltip: {
				formatter: function() {
						return '<b>'+ this.series.name +'</b><br/>'+
						this.x +': '+ this.y +'°C';
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'top',
				x: -10,
				y: 100,
				borderWidth: 0
			}
		}
		
		bindJSON(object, "../mockup/users.txt", {rnd: (new Date()).getTime()}, function(data){
			chart = new Highcharts.Chart(data);
		});
		
		bindJSONtoTable($("#myTable"), "../mockup/users_table.txt", {rnd: (new Date()).getTime()}, function(table){
			table.tablesorter();
		});
	});
});
</script>