#topbar {
	margin-top: 0;
}

#topbar #dateType {
	float: right;
}

#SankeyDiagram {
	height: 250px;
	background: #DDD;
}

#myChart,
#myTable {
	margin:0;
	display: inline-block;
	width: 50%;
	float: left;
}

#myChart {
	height: 250px;
}

#myTable {
	max-height: 248px;
	overflow-y: auto;
	float: right;
}

#myTable table {
	width: 100%;
	table-layout:fixed;
	margin: 0;
}

#myTable table th,
#myTable table td,
#myTable table td + td + td {
	text-align: center;
}

#myTable table td + td {
	text-align: left;
}