<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html> 
<head> 
	<title>Dashboard</title>
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../assets/css/reset.css" />
	
	<link rel="stylesheet" href="test.css" />
</head>
<body>
	<div id="navbar" class="absoluteView">
	</div>
	
	<div id="sidebar" class="absoluteView">
	</div>
	<div id="content" class="absoluteView">
	</div>
</body>
</html>