<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html> 
<head> 
	<title>Dashboard</title>
	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../assets/css/reset.css" />
	
	<link rel="stylesheet" href="test.css" />
	
	<style>
		.ctr {
			width: 500px;
			height: 500px;
			background: red;
			text-align: justify;
			letter-spacing: -3px;
		}
		
		.ctr div {
			width: 140px;
			height: 20px;
			background: white;
			
			display: inline-block;
		}
	</style>
</head>
<body>
	<div class="ctr">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</body>
</html>