html, body {
	height: 100%;
	padding: 0;
	/*overflow-y: hidden;*/
}

.absoluteView {
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:0;
	right:0;
}

#navbar.absoluteView {
	height: 30px;
	background: red;
}

#sidebar.absoluteView {
	margin-top: 30px; 
	background: green;
	width: 200px;
}

#content.absoluteView {
	margin-top: 30px; 
	margin-left: 200px; 
	background: blue;
}