<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	
	<head>
		<title>Cytoscape Web example</title>
		
		<!-- JSON support for IE (needed to use JS API) -->
		<script type="text/javascript" src="../assets/cytoscape_web/js/min/json2.min.js"></script>
		
		<!-- Flash embedding utility (needed to embed Cytoscape Web) -->
		<script type="text/javascript" src="../assets/cytoscape_web/js/min/AC_OETags.min.js"></script>
		
		<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
		<script type="text/javascript" src="../assets/cytoscape_web/js/min/cytoscapeweb.min.js"></script>
		
		<script type="text/javascript">
			window.onload=function() {
				// id of Cytoscape Web container div
				var div_id = "cytoscapeweb";
				
				// you could also use other formats (e.g. GraphML) or grab the network data via AJAX
				var networ_json = {
					dataSchema: {
						nodes: [ { name: "label", type: "string" },
								 { name: "borderColor", type: "string" }, 
								 { name: "weight", type: "number" }
							],
						edges: [ { name: "label", type: "string" },
								 { name: "bar", type: "string" },
								 { name: "weight", type: "number" }
						]
					},
					data: {
						nodes: [ 
							{ id: "1" }, 
							{ id: "2", label: "hahahahaha" , borderColor: "#ff0000" }, 
							{ id: "3" ,weight: 12} ],
						edges: [ { id: "2to1", target: "1", source: "2", weight: 15 }, { id: "2to3", target: "3", source: "2" } ]
					}
				};
				
				// initialization options
				var options = {
					// where you have the Cytoscape Web SWF
					swfPath: "../assets/cytoscape_web/swf/CytoscapeWeb",
					// where you have the Flash installer SWF
					flashInstallerPath: "../assets/cytoscape_web/swf/playerProductInstall"
				};
				
				// init and draw
				var vis = new org.cytoscapeweb.Visualization(div_id, options);
				
				
				
				
				// visual style we will use
                var visual_style = {
                    global: {
                        backgroundColor: "#ABCFD6"
                    },
                    nodes: {
                        /*shape: "OCTAGON",*/
                        borderWidth: 3,
                        borderColor: "#ffffff",
                        size: { defaultValue: 12, 
                          continuousMapper: { attrName: "weight", 
                                              minValue: 12, 
                                              maxValue: 36 } },
                        color: {
                            discreteMapper: {
                                attrName: "id",
                                entries: [
                                    { attrValue: 1, value: "#0B94B1" },
                                    { attrValue: 2, value: "#9A0B0B" },
                                ]
                            }
                        },
                        labelHorizontalAnchor: "center"
                    },
                    edges: {
                        width: {
							defaultValue: 3,
                            continuousMapper: { attrName: "weight", minValue: 1, maxValue: 10 }
						},
                        color: "#0B94B1"
                    }
                };
				
				var draw_options = {
                    // your data goes here
                    network: networ_json,
                    
                    // show edge labels too
                    edgeLabelsVisible: true,
                    
                    // let's try another layout
                    layout: "Tree",
                    
                    // set the style at initialisation
                    visualStyle: visual_style,
                    
                    // hide pan zoom
                    panZoomControlVisible: false 
                };
				vis.draw(draw_options);
			};
		</script>
		
		<style>
			/* The Cytoscape Web container must have its dimensions set. */
			html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
			#cytoscapeweb { width: 100%; height: 100%; }
		</style>
	</head>
	
	<body>
		<div id="cytoscapeweb">
			Cytoscape Web will replace the contents of this div with your graph.
		</div>
	</body>
	
</html>