<div id="SankeyDiagram" class="component">
	Cytoscape Web will replace the contents of this div with your graph.
</div>
<!-- <a>Send MSG!</a> -->

<div class="component">
	<h2>My Demo</h2>
	<div id="myContent" class="content clearfix">
		<div id="myChart">
		</div>
		<div id="myTable">
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th width="25"></th>
						<th></th>
						<th>Actual</th>
						<th>WOW</th>
						<th>YOY</th>
						<th width="25"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>RUV</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>ASE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr slide-toggle="DEA">
						<td><i class="icon-plus-sign"></i></td>
						<td>CLICK ME!</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr slide-target="DEA">
						<td></td>
						<td>-</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td></td>
					</tr>
					<tr slide-target="DEA">
						<td></td>
						<td>-</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	// display the SankeyDiagram
	var div_id = "SankeyDiagram";
	
	var networ_json = {
		dataSchema: {
			nodes: [ { name: "label", type: "string" }, 
					 { name: "weight", type: "number" },
				],
			edges: [ { name: "label", type: "string" },
					 { name: "bar", type: "string" },
					 { name: "weight", type: "number" }
			]
		},
		data: {
			nodes: [ 
				{ id: "1", label: "Homepage" }, 
				{ id: "2", label: "Search"}, 
				{ id: "3", label: "Browse" },
				{ id: "4", label: "Registration" },
				{ id: "5", label: "View Item" },
				{ id: "6", label: "My XXXX" },
				{ id: "7", label: "Cart" },
				{ id: "8", label: "BBOAWA" },
				{ id: "9", label: "Checkout" },
				{ id: "10", label: "Payment" },
				{ id: "11", label: "BBE" },
			],
			edges: [ 
				{ id: "2to5", target: "5", source: "2", directed: true }, 
				{ id: "3to5", target: "5", source: "3", directed: true },
				{ id: "5to7", target: "7", source: "5", directed: true },
				{ id: "5to8", target: "8", source: "5", directed: true },
				{ id: "7to9", target: "9", source: "7", directed: true },
				{ id: "9to10", target: "10", source: "9", directed: true },
				{ id: "9to11", target: "11", source: "9", directed: true },
			]
		}
	};
	
	var options = {
		swfPath: "../assets/cytoscape_web/swf/CytoscapeWeb",
		flashInstallerPath: "../assets/cytoscape_web/swf/playerProductInstall",
	};
	
	var vis = new org.cytoscapeweb.Visualization(div_id, options);
	
	var visual_style = {
		global: {
			backgroundColor: "#ABCFD6"
		},
		nodes: {
			/*shape: "OCTAGON",*/
			borderWidth: 3,
			borderColor: "#ffffff",
			size: { defaultValue: 80, 
			  continuousMapper: { attrName: "weight", 
								  minValue: 80, 
								  maxValue: 160 }
			},
			color: {
				discreteMapper: {
					attrName: "id",
					entries: [
						{ attrValue: 1, value: "#0B94B1" },
						{ attrValue: 2, value: "#9A0B0B" },
					]
				},
			},
			labelHorizontalAnchor: "center"
		},
		edges: {
			width: {
				defaultValue: 3,
				continuousMapper: { attrName: "weight", minValue: 1, maxValue: 10 }
			},
			color: "#0B94B1"
		}
	};
	
	var draw_options = {
		// your data goes here
		network: networ_json,
		
		// show edge labels too
		edgeLabelsVisible: true,
		
		// let's try another layout
		layout: {
			name: "Preset" ,
			options: {
				points: [
					{ id: "1", x: -350, y: 150 },
					{ id: "4", x: -250, y: 150 },
					{ id: "6", x: -150, y: 150 },
					
					{ id: "2", x: 0, y: 100 },
					{ id: "3", x: 0, y: 200 },
					
					{ id: "5", x: 150, y: 150 },
					{ id: "7", x: 300, y: 100 },
					{ id: "8", x: 300, y: 200 },
					{ id: "9", x: 450, y: 100 },
					{ id: "10", x: 600, y: 100 },
					{ id: "11", x: 600, y: 200 },
				]
			},
		},
		
		// set the style at initialisation
		visualStyle: visual_style,
		
		// hide pan zoom
		panZoomControlVisible: true ,
		
	};
	vis.draw(draw_options);
	
	// display the hightcharts
	var chart;
	
	object = {
		credits: {enabled: false},
		chart: {
			renderTo: 'myChart',
			type: 'line',
			marginRight: 130,
			marginBottom: 25
		},
		title: {
			text: 'Monthly Average Temperature'
		},
		subtitle: {
			text: 'Source: WorldClimate.com'
		},
		yAxis: {
			title: {
				text: 'Temperature (°C)'
			}
		},
		tooltip: {
			formatter: function() {
					return '<b>'+ this.series.name +'</b><br/>'+
					this.x +': '+ this.y +'°C';
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'top',
			x: -10,
			y: 100,
			borderWidth: 0
		}
	}
	
	bindJSON(object, "../mockup/users.txt", {rnd: (new Date()).getTime()}, function(data){
		chart = new Highcharts.Chart(data);
	});
	
	$("#myTable table").slideView(0);
	
	$("#SankeyDiagram a").click(function(){
		myPara[REGION] = "CART";
		enableNav();
	});
});
</script>