<div id="SankeyDiagram" class="component">
	Cytoscape Web will replace the contents of this div with your graph.
</div>
<!-- <a>Send MSG!</a> -->

<div class="component">
	<h2>My Demo</h2>
	<div id="myContent" class="content clearfix">
		<div id="myChart">
		</div>
		<div id="myTable">
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th width="25"></th>
						<th></th>
						<th>Actual</th>
						<th>WOW</th>
						<th>YOY</th>
						<th width="25"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>RUV</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>ASE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr slide-toggle="DEA">
						<td><i class="icon-plus-sign"></i></td>
						<td>CLICK ME!</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr slide-target="DEA">
						<td></td>
						<td>-</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td></td>
					</tr>
					<tr slide-target="DEA">
						<td></td>
						<td>-</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
					<tr>
						<td><i class="icon-plus-sign"></i></td>
						<td>EAE</td>
						<td>1.2%</td>
						<td>2.3%</td>
						<td>2.56%</td>
						<td><i class="icon-align-justify"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		doScript();
	});
</script>