#cart .content {
	text-align: justify;
	letter-spacing: -3px;
	padding: 10px;
}

#cart .content .view {
	height: 300px;
	border-radius: 5px;
	background: #DEDEDE;
	width: 23%;
	display: inline-block;
	margin:0;
}

#cart .content .view .chart {
	height: 250px;
	letter-spacing: 0px;
}

#cart .content .view h3,
#cart .content .view p {
	text-align: center;
	line-height: 150%;
	letter-spacing: 0px;
}

#cart .content .view.end {
	width: 100%;
	max-height: 0px;
}

#radiosView .content {
	padding: 10px;
	font-size: 0;
}

#radiosView .content #radios,
#radiosView .content #tables {
	display: inline-block;
	font-size: 14px;
	float: left;
	max-height: 248px;
}

#radiosView .content #radios {
	width: 20%;
}

#radiosView .content #tables {
	overflow-y: auto;
	width: 80%;
}

#radiosView .content #tables table {
	width: 100%;
	table-layout:fixed;
	margin: 0;
}