#navbar {
	background-color: #1B1B1B;
	background-image: -moz-linear-gradient(top,#222,#111);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
	background-image: -webkit-linear-gradient(top,#222,#111);
	background-image: -o-linear-gradient(top,#222,#111);
	background-image: linear-gradient(to bottom,#222,#111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
	min-height: 41px;
	border-bottom: 1px solid #111;
	
	position: fixed;
	right: 0;
	top:0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}

#navbar ul {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
}

#navbar ul li {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	float: left;
}

#navbar ul li.active {
	background: #050505;
}

#navbar ul li.active a {
	color: white;
}

#navbar ul li a {
	color: #999;
	float: none;
	padding: 10px 15px 10px;
	text-decoration: none;
	display: block;
}

#navbar ul li a:hover {
	color: white;
	background: transparent;
}

#sidebar {
	position: fixed;
	left: 0;
	top: 42px;
	width: 224px;
	height: 100%;
	z-index: 10;
	-webkit-user-select: none;
	border-right: 1px solid black;
	background: #222;
}

.blockList a {
	background: #1B1B1B;
	display: block;
	border-top: 1px solid #333;
	border-bottom:1px solid #000;
	cursor: pointer;
	font-size:15px;
	color: #CCC;
	padding: 11px 0 11px 11px;
}

.blockList a:hover {
	text-decoration: none;
	background: #222;
	color: white;
}

.blockList ul,
.blockList ul li {
	margin:0;
	padding:0;
	cursor: pointer;
}

.blockList ul li {
	list-style-type:none;
	color: #AAA;
	padding: 6px 0 6px 6px;
	border-top: 1px solid #111;
	border-bottom:1px solid #060606;
	background: #171717;
}

.blockList ul li + li {
	border-top: 1px solid #1D1D1D;
}

.blockList ul li:last-child {
	border-bottom:none;
}

.blockList ul li:hover {
	background: #1B1B1B;
	color: white;
}

.blockList ul li.bind_selectedItem {
	color: white;
	font-weight: bolder;
}

#content {
	margin: 42px 0 0 224px;
	padding: 10px;
	height: 400px;
}

.table .header {
	background-image: url(../img/sort_bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.table .headerSortUp {
	background-image: url(../img/sort_asc.gif);
}

.table .headerSortDown {
	background-image: url(../img/sort_desc.gif);
}