html,body{ 
height:100%; 
} 

body {
	background: #F4F4F4;
	overflow-y: hidden;
	min-width: 800px;
}

/* view */

.absoluteView {
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:0;
	right:0;
}

#navbar.absoluteView {
	height: 34px;
	padding: 3px 3px 0 3px;
}

#sidebar.absoluteView {
	margin-top: 38px;
	width: 224px;
}

#content.absoluteView {
	margin-top: 38px; 
	margin-left: 224px;
}

/* body content */

#navbar {
	background-color: #1B1B1B;
	background-image: -moz-linear-gradient(top,#444,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
	background-image: -webkit-linear-gradient(top,#444,#222);
	background-image: -o-linear-gradient(top,#444,#222);
	background-image: linear-gradient(to bottom,#444,#222);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
	border-bottom: 1px solid #111;
}

#navbar ul.dropdown-menu {
	background: #222;
}

#navbar ul.dropdown-menu li a {
	color: white;
}

#navbar ul.dropdown-menu li a:hover {
	background: #333;
}

#navbar #commonNav,
#navbar #navInsert {
	display: inline;
}

#navbar .btn-group button {
	width: 100px;
}

#navbar .btn-group button span.caret {
	float: right;
}

#navbar #ddl_region {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -100px;
}

#navbar #ddl_region button {
	font-size: 26px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#navbar #ddl_region button,
#navbar #ddl_region  ul.dropdown-menu {
	width: 200px;
}

#navbar #ddl_region  ul.dropdown-menu li.divider {
	height: 0;
	border-bottom: 1px solid gray;
}

#navbar #dateType {
	float: right;
}

.blockList a {
	background: #1B1B1B;
	background-image: -moz-linear-gradient(top,#222,#151515);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#151515));
	background-image: -webkit-linear-gradient(top,#222,#151515);
	background-image: -o-linear-gradient(top,#222,#151515);
	background-image: linear-gradient(to bottom,#222,#151515);
	
	display: block;
	border-top: 1px solid #333;
	border-bottom:1px solid #000;
	cursor: pointer;
	font-size:15px;
	color: #AAA;
	padding: 11px 0 11px 11px;
}

.blockList a.bind_selectedItem,
.blockList a:hover.bind_selectedItem {
	color: white;
	
	background:#1E401C;
	background-image: -moz-linear-gradient(top,#3E603C,#1E401C);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#3E603C),to(#1E401C));
	background-image: -webkit-linear-gradient(top,#3E603C,#1E401C);
	background-image: -o-linear-gradient(top,#3E603C,#1E401C);
	background-image: linear-gradient(to bottom,#3E603C,#1E401C);
}

.blockList a:hover {
	background: #222;
	background-image: -moz-linear-gradient(top,#2B2B2B,#1A1A1A);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#2B2B2B),to(#1A1A1A));
	background-image: -webkit-linear-gradient(top,#2B2B2B,#1A1A1A);
	background-image: -o-linear-gradient(top,#2B2B2B,#1A1A1A);
	background-image: linear-gradient(to bottom,#2B2B2B,#1A1A1A);
	
	text-decoration: none;
	color: white;
}

.blockList a img {
	margin-right: 10px;
	width: 25px;
	height: 25px;
}

.blockList a span {
	vertical-align:middle;
	text-shadow: 0 1px 0px black;
}

.blockList a img,
.blockList li img {
	vertical-align: middle; 
}

.blockList ul,
.blockList ul li {
	margin:0;
	padding:0;
	cursor: pointer;
}

.blockList ul li {
	list-style-type:none;
	color: #AAA;
	padding: 6px 0 6px 16px;
	border-top: 1px solid #111;
	border-bottom:1px solid #060606;
	background: #171717;
}

.blockList ul li img {
	margin-right: 10px;
	width: 21px;
	height: 21px;
}

.blockList ul li span {
	vertical-align:middle;
	text-shadow: 0 1px 0px black;
	font-size: 14px;
}

.blockList ul li + li {
	border-top: 1px solid #1D1D1D;
}

.blockList ul li:last-child {
	border-bottom:none;
}

.blockList ul li:hover {
	background: #1B1B1B;
	color: white;
}

.blockList ul li.bind_selectedItem {
	color: white;
	background:#1E401C;
}

#sidebar {
	height: 100%;
	-webkit-user-select: none;
	border-right: 1px solid black;
	background: #222;
}

#content {
	padding: 10px;
	overflow-y:scroll;
}

#content .table .header {
	background-image: url(../img/sort_bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

#content .table .headerSortUp {
	background-image: url(../img/sort_asc.gif);
}

#content .table .headerSortDown {
	background-image: url(../img/sort_desc.gif);
}

#content .highchartsFixed {
	width: 100%;
}

#content .component {
	border: 1px solid #888;
	border-radius: 5px 5px 0 0;
	margin-bottom: 20px;
	box-shadow: 0 3px 3px #CCC;
}

#content .component h2 {
	margin:0;
	padding:0;
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #BBB;
	background-image: -moz-linear-gradient(top,#EEE,#DDD);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#EEE),to(#DDD));
	background-image: -webkit-linear-gradient(top,#EEE,#DDD);
	background-image: -o-linear-gradient(top,#EEE,#DDD);
	background-image: linear-gradient(to bottom,#EEE,#DDD);
	
	font-size: 20px;
	color: #636363;
	text-shadow: 0 1px #F6F6F6;
	padding: 0 0 0 10px;
}

#content .component div h2 {
	background-image: none;
	border: none;
	text-shadow:none;
}

#content table.component {
	background: white;
}

#content table.component thead tr th,
#content table.component thead tr td {
	border-top: 1px solid #FFF;
}

#content table.component thead tr {
	background: #E9E9E9;
}

.dropdown-menu a {
	cursor: pointer;
}



/************* content detail *************/
