<div id="topbar" class="btn-toolbar">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">MCUP <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a>MCUP</a></li>
		</ul>
	</div>

	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">US <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a>US</a></li>
			<li><a>UE</a></li>
			<li><a>CA</a></li>
		</ul>
	</div>
	
	<div id="dateType" class="btn-group">
		<a class="btn">Day</a>
		<a class="btn active">Week</a>
		<a class="btn">Month</a>
	</div>
</div>

<div id="SankeyDiagram" class="component">
</div>

<div class="component">
	<h2>My Demo</h2>
	<div>
		<div id="myChart">
			
		</div>
	</div>
</div>